// Custom styles specific to the project
// the _ underscore in the file name let sass know that the file is partial,
//    but it's (the underscore) not included in imports

// custom cover page styles
.cover-page-container {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}
.cover-page-container img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

// custom heading styles - overriding bootstrap theme
// in order to override the default h6 style from the bootstrap theme
//    we need to ensure that this styles have higher specificity than the Bootstrap styles

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 40px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
  border-bottom: 2px solid; /* Add a bottom border */
  padding-bottom: 5px; /* Add some padding below the heading text */
}

h6, .h6 {
  font-weight: 1000;
}
