// syntax-highlighting
// custom background color based on theme/color mode
.highlight {
  .pre {
    margin-right: 1.875rem;
    padding: .25rem 0 .875rem;
    margin-top: .8125rem;
    margin-bottom: 0;
    overflow: overlay;
    white-space: pre;
    background-color: transparent;
    border: 0
  }
}

:root,
[data-bs-theme="light"] {
  .highlight {
    // from rouge default.css
    .hll { background-color: #ffffcc }
    .c { color: #408080; font-style: italic } /* Comment */
    .err { border: 1px solid #FF0000 } /* Error */
    .k { color: #008000; font-weight: bold } /* Keyword */
    .o { color: #666666 } /* Operator */
    .cm { color: #408080; font-style: italic } /* Comment.Multiline */
    .cp { color: #BC7A00 } /* Comment.Preproc */
    .c1 { color: #408080; font-style: italic } /* Comment.Single */
    .cs { color: #408080; font-style: italic } /* Comment.Special */
    .gd { color: #A00000 } /* Generic.Deleted */
    .ge { font-style: italic } /* Generic.Emph */
    .gr { color: #FF0000 } /* Generic.Error */
    .gh { color: #000080; font-weight: bold } /* Generic.Heading */
    .gi { color: #00A000 } /* Generic.Inserted */
    .go { color: #808080 } /* Generic.Output */
    .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
    .gs { font-weight: bold } /* Generic.Strong */
    .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
    .gt { color: #0040D0 } /* Generic.Traceback */
    .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
    .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #008000 } /* Keyword.Pseudo */
    .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #B00040 } /* Keyword.Type */
    .m { color: #666666 } /* Literal.Number */
    .s { color: #BA2121 } /* Literal.String */
    .na { color: #7D9029 } /* Name.Attribute */
    .nb { color: #008000 } /* Name.Builtin */
    .nc { color: #0000FF; font-weight: bold } /* Name.Class */
    .no { color: #880000 } /* Name.Constant */
    .nd { color: #AA22FF } /* Name.Decorator */
    .ni { color: #999999; font-weight: bold } /* Name.Entity */
    .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
    .nf { color: #0000FF } /* Name.Function */
    .nl { color: #A0A000 } /* Name.Label */
    .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
    .nt { color: #008000; font-weight: bold } /* Name.Tag */
    .nv { color: #19177C } /* Name.Variable */
    .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
    .w { color: #bbbbbb } /* Text.Whitespace */
    .mf { color: #666666 } /* Literal.Number.Float */
    .mh { color: #666666 } /* Literal.Number.Hex */
    .mi { color: #666666 } /* Literal.Number.Integer */
    .mo { color: #666666 } /* Literal.Number.Oct */
    .sb { color: #BA2121 } /* Literal.String.Backtick */
    .sc { color: #BA2121 } /* Literal.String.Char */
    .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
    .s2 { color: #BA2121 } /* Literal.String.Double */
    .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
    .sh { color: #BA2121 } /* Literal.String.Heredoc */
    .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
    .sx { color: #008000 } /* Literal.String.Other */
    .sr { color: #BB6688 } /* Literal.String.Regex */
    .s1 { color: #BA2121 } /* Literal.String.Single */
    .ss { color: #19177C } /* Literal.String.Symbol */
    .bp { color: #008000 } /* Name.Builtin.Pseudo */
    .vc { color: #19177C } /* Name.Variable.Class */
    .vg { color: #19177C } /* Name.Variable.Global */
    .vi { color: #19177C } /* Name.Variable.Instance */
    .il { color: #666666 } /* Literal.Number.Integer.Long */
  }
}

@include color_mode(dark, true) {
  .highlight {
    // from rouge native.css
    .hll { background-color: #404040 }
    .c { color: #999999; font-style: italic } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2 } /* Error */
    .g { color: #d0d0d0 } /* Generic */
    .k { color: #6ab825; font-weight: bold } /* Keyword */
    .l { color: #d0d0d0 } /* Literal */
    .n { color: #d0d0d0 } /* Name */
    .o { color: #d0d0d0 } /* Operator */
    .x { color: #d0d0d0 } /* Other */
    .p { color: #d0d0d0 } /* Punctuation */
    .cm { color: #999999; font-style: italic } /* Comment.Multiline */
    .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
    .c1 { color: #999999; font-style: italic } /* Comment.Single */
    .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
    .gd { color: #d22323 } /* Generic.Deleted */
    .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
    .gr { color: #d22323 } /* Generic.Error */
    .gh { color: #ffffff; font-weight: bold; text-decoration: underline } /* Generic.Heading */
    .gi { color: #589819 } /* Generic.Inserted */
    .go { color: #cccccc } /* Generic.Output */
    .gp { color: #aaaaaa } /* Generic.Prompt */
    .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
    .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
    .gt { color: #d22323 } /* Generic.Traceback */
    .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
    .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
    .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
    .kp { color: #6ab825 } /* Keyword.Pseudo */
    .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
    .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
    .ld { color: #d0d0d0 } /* Literal.Date */
    .m { color: #3677a9 } /* Literal.Number */
    .s { color: #ed9d13 } /* Literal.String */
    .na { color: #bbbbbb } /* Name.Attribute */
    .nb { color: #24909d } /* Name.Builtin */
    .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
    .no { color: #40ffff } /* Name.Constant */
    .nd { color: #ffa500 } /* Name.Decorator */
    .ni { color: #d0d0d0 } /* Name.Entity */
    .ne { color: #bbbbbb } /* Name.Exception */
    .nf { color: #447fcf } /* Name.Function */
    .nl { color: #d0d0d0 } /* Name.Label */
    .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
    .nx { color: #d0d0d0 } /* Name.Other */
    .py { color: #d0d0d0 } /* Name.Property */
    .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
    .nv { color: #40ffff } /* Name.Variable */
    .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
    .w { color: #666666 } /* Text.Whitespace */
    .mf { color: #3677a9 } /* Literal.Number.Float */
    .mh { color: #3677a9 } /* Literal.Number.Hex */
    .mi { color: #3677a9 } /* Literal.Number.Integer */
    .mo { color: #3677a9 } /* Literal.Number.Oct */
    .sb { color: #ed9d13 } /* Literal.String.Backtick */
    .sc { color: #ed9d13 } /* Literal.String.Char */
    .sd { color: #ed9d13 } /* Literal.String.Doc */
    .s2 { color: #ed9d13 } /* Literal.String.Double */
    .se { color: #ed9d13 } /* Literal.String.Escape */
    .sh { color: #ed9d13 } /* Literal.String.Heredoc */
    .si { color: #ed9d13 } /* Literal.String.Interpol */
    .sx { color: #ffa500 } /* Literal.String.Other */
    .sr { color: #ed9d13 } /* Literal.String.Regex */
    .s1 { color: #ed9d13 } /* Literal.String.Single */
    .ss { color: #ed9d13 } /* Literal.String.Symbol */
    .bp { color: #24909d } /* Name.Builtin.Pseudo */
    .vc { color: #40ffff } /* Name.Variable.Class */
    .vg { color: #40ffff } /* Name.Variable.Global */
    .vi { color: #40ffff } /* Name.Variable.Instance */
    .il { color: #3677a9 } /* Literal.Number.Integer.Long */

  }
}